@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
  50% {
    transform: translateY(-50px) rotate(20deg) scale(1.2);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes floatDiagonal {
  0%   { transform: translate(0, 0) rotate(0deg); }
  50%  { transform: translate(30px, -40px) rotate(20deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes floatVertical {
  0%   { transform: translateY(0) rotate(0deg); }
  50%  { transform: translateY(-50px) rotate(10deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.animate-float {
  animation: float infinite ease-in-out;
}

.floating {
  color: #0ff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.5); }
  10% { opacity: 1; transform: scale(1); }
  90% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}